<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buddy">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mains.SplashActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".mains.UserLogOn"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".mains.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".stacs.StacsMoodActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".stacs.StacsSleepActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".mains.VideoPlayer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".stacs.StacsHeartRateActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".stacs.StacsEmotionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".mains.AddReviseKids"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".mains.KidsList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".mains.UserRegister"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".mains.UserRegistermobile"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".mains.UserRegDyn"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"/>
    </application>

</manifest>